spring:
  application:
    name: ligo-server-trans
  
  config:
    import: optional:application-secret.properties

  kafka:
    consumer:
      auto-offset-reset: earliest
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      properties:
        spring.json.trusted.packages: "*"
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      properties:
        spring:
          json:
            trusted.packages: "*"
  
  groq:
    api-key: ${GROQ_API_KEY:}
    api-url: ${GROQ_API_URL:}

management:
  endpoints:
    web:
      exposure:
        include: prometheus

server:
  port: ${SERVER_PORT:8081}